.App {
  padding-top: '36px';
  text-align: center;  
}

.SearchForm-wrapper{
  display: flex;
  justify-content: center;
}

.MoviesList{
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  padding: 16px;
}

.MoviesLis-item{
  margin-bottom: 24px;
  width: 48%;
}

.imagen-w80{
  width: 250px;
}